html,
body {
  width: 100%;
  height: 100%;
  background-color: aqua;
  /*background: <img src="balloon1.jpg" class="img-rounded img-responsive">*/
}

#title {
  display: table;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.heading {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
}

h1 {
  font-size: 85px;
  color: black;
}

h2 {
  
  font-size: 40px;
}


.container {
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
}


#contact {
  background: silver;
  color: black;
  display: table;
  font-size: 1.5em;
  border-radius: 25px;
}

#testimonials {
  background: silver;
  border-radius: 25px;
}

#test {
  color: black;
  font-size: 25px;
  background-color: aqua;
}

#copy {
  font-family: 'Lobster', cursive;
  background-color:  silver;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#table{
  background: silver;
}

.row {
  margin-bottom: 20px;
  text-align: center;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.jumbotron {
  background-color: silver;
  color: black;
}

.card {
  background-color: silver;
}

.topic {
  text-align: center;
  font-size: 37px;
  background-color: silver;
}


@media(min-width:768px) {
  h1 {
    font-size: 85px;
  }
}

@media(min-width:992px) {
  h1 {
    font-size: 100px;
  }
}

@media(min-width:1200px) {
  h1 {
    font-size: 115px;
  }
}