html,
body {
  width: 100%;
  height: 100%;
  background-color: #043746;
}

  #title {
            display: table;
            width: 100%;
            height: 100%;
            background: url('img/balloon-1.jpg') no-repeat center;
            background-size: cover;
            font-family:cursive;
        }

.heading {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
  
}

h1 {
  text-align: center;
  font-size: 60px;
  color: black;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: white;
}


.container {
  text-align: center;
  vertical-align: middle;
  border-radius: 25px;
}


#contact {
  background: silver;
  color: black;
  display: table;
  font-size: 1.5em;
  border-radius: 25px;
}

#testimonials {
  background: silver;
  border-radius: 25px;
  font-family: fantasy;
}

#test {
  color: black;
  font-size: 25px;
  background-color: #043746;
}



#table{
  background: silver;
}

.row {
  margin-bottom: 20px;
  text-align: center;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.jumbotron {
  background-color: silver;
  color: black;
}


.topic {
  text-align: center;
  font-size: 50px;
  background-color: silver;
}

.info{
  text-align: center;
  font-size: 50px;
}

.well{
   background-color: red;
}
@media(min-width:768px) {
  h1 {
    font-size: 85px;
  }
    h2 {
    font-size: 55px;
  }
}

@media(min-width:992px) {
  h1 {
    font-size: 100px;
  }
    h2 {
    font-size: 70px;
  }
}

@media(min-width:1200px) {
  h1 {
    font-size: 115px;
  }
    h2 {
    font-size: 85px;
  }
}